<div class="dashboard-container">
  <h2 class="dashboard-title">Dashboard</h2>


  <div class="statistics">
    <div class="stat-card">
      <h3>Total Issues</h3>
      <p>{{ totalIssues }}</p>
      <button (click)="toggleIssues('total')">View Issues</button>

      <div *ngIf="showIssues.total">
        <ul>
          <li *ngFor="let issue of totalIssuesList">{{ issue.title }} - {{ issue.status }}</li>
        </ul>
      </div>
    </div>

    <div class="stat-card">
      <h3>Open Issues</h3>
      <p>{{ openIssues }}</p>
      <button (click)="toggleIssues('open')">View Open Issues</button>


      <div *ngIf="showIssues.open">
        <ul>
          <li *ngFor="let issue of openIssuesList">{{ issue.title }} - {{ issue.status }}</li>
        </ul>
      </div>
    </div>

    <div class="stat-card">
      <h3>In Progress</h3>
      <p>{{ inProgressIssues }}</p>
      <button (click)="toggleIssues('inProgress')">View In Progress</button>


      <div *ngIf="showIssues.inProgress">
        <ul>
          <li *ngFor="let issue of inProgressIssuesList">{{ issue.title }} - {{ issue.status }}</li>
        </ul>
      </div>
    </div>

    <div class="stat-card">
      <h3>Resolved Issues</h3>
      <p>{{ resolvedIssues }}</p>
      <button (click)="toggleIssues('resolved')">View Resolved Issues</button>


      <div *ngIf="showIssues.resolved">
        <ul>
          <li *ngFor="let issue of resolvedIssuesList">{{ issue.title }} - {{ issue.status }}</li>
        </ul>
      </div>
    </div>

    <div class="stat-card">
      <h3>Closed Issues</h3>
      <p>{{ closedIssues }}</p>
      <button (click)="toggleIssues('closed')">View Closed Issues</button>


      <div *ngIf="showIssues.closed">
        <ul>
          <li *ngFor="let issue of closedIssuesList">{{ issue.title }} - {{ issue.status }}</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="add-issue-button">
    <button (click)="addNewIssue()">Add New Issue</button>
  </div>
</div>