<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <hr />
        <p style="font-size: 1.5em;">Welcome to <%= title %>. This server hosts APIs for the Meetings App. </p>
        <ul>
            <li>The API is documented at <a href="/api">/api</a></li>
            <li><a href="https://documenter.getpostman.com/view/715971/TWDRtff8">Postman docs</a></li>
            <li>Download the <a href="/docs/postman_collection.json" download>Postman collection</a></li>
        </ul>
    </body>
</html>