<div class="container">
  <a class="navbar-brand back-button" routerLink="/dashboard">Back to Dashboard</a>
  <br><br>
  <h2>Register New Admin</h2>

  
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  
  <form (ngSubmit)="onSubmit()" #adminForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="admin.name"
        name="name"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="admin.email"
        name="email"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="admin.password"
        name="password"
        required
      />
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="text"
        id="phone"
        class="form-control"
        [(ngModel)]="admin.phone"
        name="phone"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">
      {{ admin.aId ? 'Update Admin' : 'Add Admin' }}
    </button>

    
    <button type="button" class="btn btn-secondary ml-2 reset-button" (click)="resetForm()">Reset</button>

  </form>

 
  <h2 class="mt-5">Admins List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Admin ID</th>  
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins">
        <td>{{ admin.aId }}</td>
        <td>{{ admin.name }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.phone }}</td>
        <td>
         
          <button class="btn btn-warning" (click)="editAdmin(admin)">Edit</button>
        
          <button class="btn btn-danger" (click)="deleteAdmin(admin.aId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
