
  <!-- <nav>
    <a routerLink="/courses">Courses</a>
    <a routerLink="/authors">Authors</a>
    <a routerLink="/learners">Learners</a>
    <a routerLink="/registrations">Registrations</a>
    <a routerLink="/reviews">Reviews</a>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <p class="navbar-title">Learning Management System</p>
      <a class="navbar-brand" routerLink="/login">Logout</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/authors">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/learners">Learners</a>
          </li>
          <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" routerLink="/registrations">Registrations</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Admin Registration</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  <div class="dashboard-container">
    
    <section class="course-info">
      <div class="how-helps">
        <h2>How This Course Helps You</h2>
        <ul>
          <li *ngFor="let help of courseHelps">{{ help }}</li>
        </ul>
      </div>
  
      <div class="key-features">
        <h2>Key Features</h2>
        <ul>
          <li *ngFor="let feature of keyFeatures">{{ feature }}</li>
        </ul>
      </div>
    </section>
  
   
    <section class="testimonials">
      <h2>What Our Students Say</h2>
      <div class="testimonial-cards">
        <div class="testimonial-card" *ngFor="let testimonial of testimonials">
          <p class="testimonial-text">"{{ testimonial.text }}"</p>
          <p class="testimonial-author">- {{ testimonial.name }}</p>
        </div>
      </div>
    </section>
  </div>
  