<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Learning Management System </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authors">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/learners">Learners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrations">Registrations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Admin Registration</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
