               
               
               /* type selector */
               p {
                   background-color: rgb(216, 11, 234);
                   color:rgb(7, 237, 149);
               }

               /* pseudo element */
               .name::before {
                   content: "*";
                   color: brown;
                   font-size: 23px;

               }

               /* class selector */
               .name {
                   color: rgb(210, 222, 210);
               }

               /* id selector */
               #_1 {
                   color: blue;
               }

               /* pseudo class */
               button:hover {
                   color: rgb(237, 100, 136);
                   background-color: aqua;
               }


               /* we can hover any elemnt/tag/class/id */
               /* .name:hover {
                color: rgb(53, 5, 247);
                background-color: aqua;
            } */



               /* universal selector */
               *{
                background-color: rgb(180, 238, 238);
               }

