<br>
<div class="container">
    <h4>REGISTER HERE</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label> Admin Name</label>
            <input type="text" formControlName="adminName" class="form-control"
                [ngClass]="{'is-invalid':registerForm.controls['adminName'].errors, 'boldItalicError':registerForm.controls['adminName'].errors }" />
            <div *ngIf="registerForm.controls['adminName'].errors" class="invalid-feedback ">
                <div *ngIf="registerForm.controls['adminName']?.errors?.['required']">Field Required</div>
            </div>
 
            <label> Email </label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{'is-invalid':registerForm.controls['email'].errors }" />
            <div *ngIf="registerForm.controls['email'].errors" class="invalid-feedback ">
                <div *ngIf="registerForm.controls['email']?.errors?.['required']">Field Required</div>
                <div *ngIf="registerForm.controls['email']?.errors?.['email']">Wrong Format</div>
            </div>
 
            <label> Password </label>
            <input type="text" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid':registerForm.controls['password'].errors, 'boldItalicError':registerForm.controls['password'].errors }" />
            <div *ngIf="registerForm.controls['password'].errors" class="invalid-feedback ">
                <div *ngIf="registerForm.controls['password']?.errors?.['required']">Field Required</div>
            </div>
 
        </div>
        <br>
        <div class="form-group">
            <button type="submit"class="btn btn-primary w-50">Register</button>
           
            <button type="reset"class="btn btn-warning w-50">Reset</button>
        </div>
    </form>
</div>